 <body>
    <h1>Books</h1>

    <!--一覧 部分-->
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>入門Git</td>
          <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
          <td><a href="">Show</a></td>
          <td><a href="">Edit</a></td>
          <td><a href="">Destroy</a></td>
        </tr>

        <tr>
          <td>トラブル知らずのシステム設計</td>
          <td>システム設計の要点を図解で説明してくれます</td>
          <td><a href="">Show</a></td>
          <td><a href="">Edit</a></td>
          <td><a href="">Destroy</a></td>
        </tr>

        <tr>
          <td>たのしいRuby</td>
          <td>Rubyの入門におすすめです</td>
          <td><a href="">Show</a></td>
          <td><a href="">Edit</a></td>
          <td><a href="">Destroy</a></td>
        </tr>
      </tbody>
    </table>

    <!--新規投稿 部分-->
    <h2>New Book</h2>

  </body>