<body>
  <h1>Books</h1>

  <!--一覧 部分-->
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>投稿1 title仮置き</td>
        <td>投稿1 body仮置き</td>
        <td><a class="show" href="">Show</a></td>
        <td><a class="edit" href="">Edit</a></td>
        <td><a class="destroy" href="">Destroy</a></td>
      </tr>
    </tbody>
  </table>

  <!--進行投稿 部分-->
  <h2>New book</h2>

</body>

<footer>

</footer>