/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  background-color: #fff;
}

body {
  margin: 30px;
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
}


/*ここから、index.html.erbのスタイル*/
table {
  margin: 20px 0;
}

th {
  font-size: 14px;
  padding-bottom: 10px;
}

td {
  padding-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

/*ここまで、index.html.erbのスタイル*/


/*ここから、collection.html.erbのスタイル*/
.top-title {
  font-size: 26px;
  margin: 15px 0;
}

.top-body {
  margin-bottom: 15px;
  margin-left: 15px;
}

.top-btn {
  margin-left: 15px;
}

/*ここまで、collection.html.erbのスタイル*/


/*ここから、新規投稿部分のスタイル*/

.new-header {
  margin-bottom: 10px;
}

.new-body {
  margin-top: 10px;
}

.submit {
  display: block;
}

input[type="submit" i] {
  margin-top: 10px;
  padding: 1px 5px;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #808080;
}

input[type="text" i] {
  border: 1px solid #808080;
}
/*ここまで、新規投稿部分のスタイル*/


/*ここから、show.html.erbのスタイル*/
.show {
  font-size: 14px;
}

.show-item {
  margin-bottom: 20px;
  margin-left: 26px;
}
/*ここまで、show.html.erbのスタイル*/


/*ここから、edit.html.erbのスタイル*/
.edit-header {
  margin-bottom: 15px;
}


.edit-body {
  margin-top: 10px;
}

.edit-nav {
  margin-top: 10px;
}
/*ここまで、edit.html.erbのスタイル*/


.notice {
  margin-bottom: 18px;
  margin-left: 14px;
  color: #008000;
}

#error_explanation {
  width: 450px;
  border: 2px solid #ff0000;
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: f5f5f5;
}

#error_explanation h2 {
  color: #ffffff;
  background-color: #ff0000;
  margin-bottom: 0;
  padding: 3px 5px;
  font-size: 12px;
  text-align: left;
  text-weight: bold;
}

#error_explanation ul {
  margin: 30px;
}

.field_with_errors {
  display: table;
  background-color: #ff0000;
  padding: 2px;
}

